.post_flex {
    display: flex;
}
.post_flex_1 {
    flex: 1;
}
.post_flex_2 {
    flex: 2;
}
.post_flex_p {
    display: flex;
    margin-top: 0;
    margin-bottom: 16px;
}
.post_flex_center {
    display: flex;
    align-items: center;
}
.post_flex_center_horizontal {
    display: flex;
    justify-content: center;
}
.post_flex_center_center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.post_flex_center_center + .post_flex_center_center {
    margin-top: 8px;
}
.post_paddingLeftIntend2 {
    padding-left: 2em;
}
.post_listIntend2 {
    position: relative;
    padding-left: 24px;
}
.post_listIntend2:before {
    content: attr(data-num);
    position: absolute;
    left: 0;
}
/* 首行缩进2个字符 */
.post_textIntend2 {
    text-indent: 2em;
}
/* 首行缩进4个字符 */
.post_textIntend4 {
    text-indent: 4em;
}
.post_indentBox2 {
    display: inline-block;
    width: 2em;
}
.post_indentBox4 {
    display: inline-block;
    width: 4em;
}

/* 文字对齐方式 */
.post_textAlign_left {
    text-align: left;
}
.post_textAlign_right {
    text-align: right;
}
.post_textAlign_center {
    text-align: center;
}
/* 文字两端对齐 */
.post_textAlign_justify {
    text-align: justify;
}

/* 元素之间有间距 */
.post_block-item {
    flex: 1;
}
.post_block-item +.post_block-item {
    margin-left: 30px;
}

.p_bold {
    font-weight: 600;
}
.p_mt16_p {
    margin-top: 16px;
}
.div_pt16_div {
    padding-top: 16px;
}
.p_center {
    text-align: center;
}
/* 图片下面的文案 */
._image_caption {
    text-align: center !important;
    font-size: 12px !important;
    margin-top: -10px !important;
}
._image_caption .extra {
    font-style: italic;
}
