.post_flex {
    display: flex;
}
.post_flex_p {
    display: flex;
    margin-top: 0;
    margin-bottom: 16px;
}
.post_flex_center_center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.post_flex_center_center + .post_flex_center_center {
    margin-top: 8px;
}
/* 元素直接有间距 */
.post_block-item {
    flex: 1;
}
.post_block-item +.post_block-item {
    margin-left: 30px;
}
.post_flex_center {
    display: flex;
    align-items: center;
}

.p_bold {
    font-weight: 600;
}
.p_mt16_p {
    margin-top: 16px;
}
.div_pt16_div {
    padding-top: 16px;
}
.p_center {
    text-align: center;
}
/*图片下面的文案*/
._image_caption {
    text-align: center !important;
    font-size: 12px !important;
    margin-top: -10px !important;
}
._image_caption .extra {
    font-style: italic;
}
